@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@358&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

body {
    background-color: black;
    overflow: overlay;
}

.container {
    display: flex;
    justify-content: center
}
  
img {
    max-width: 100%;
    padding-top: 50px
}
  
.image {
    flex-basis: 30%
}
  
.text {
    flex-basis: 30%;
    padding-top: 60px;
    padding-right: 0%;
    padding-left: 2.3cm;
}

.navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    color:white;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.95);
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background: #ddd;
    color: black;
    border-radius: 50px;
    transition: 150ms;
}

p {
    font-family: 'Oswald', sans-serif;
}

a {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0.1);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 8px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

.teamBtn:hover {
    color: rgb(255, 255, 255);
    transition: 0.3s
}

.space img {
    height: 100%;
    width: 100%;
}